[Unit]
Description=Jetson AV Real-Time Tuning (SUPER Mode + IRQ Affinity)
After=network.target nvpmodel.service
Wants=nvpmodel.service

[Service]
Type=oneshot
ExecStart=/home/j/jetson_rt_tune.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
